a:hover, .search-icon:hover, .cart-icon:hover, .account-icon:hover, .hamburger-icon:hover {
    font-weight: bold;  
    font-size: var(--font-size-focus);
  }
  
  nav, #menu-checkbox {
    display: none;
  }
  
  #menu-checkbox:checked ~ nav {
    display: flex;
    justify-content: center;
  }
  
  header {
    display: flex;
    align-items: flex-end;
    font-size: var(--font-size-primary);
    margin: 1rem;
  }
  
  .logo img {
    width: 9rem;
  }
  
  .hamburger-icon {
    margin: 0 0.5rem 0 4rem;
  }
  
  nav ul {
    position: absolute;
    list-style-type: none;
    padding: 0;
    min-width: 10rem;
  }
  
  nav li {
    margin: 0.75rem;
  }
  
  .text {
    margin-left: 0.5rem;
  }
  
  .icons {
    display: flex;
    gap: 0.75rem;
    margin-left: 0.25rem;
  }
  
  
  .current {
    border-bottom: solid;
  }