/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #fff;
  --color-secondary: #021E2E;
  --color-accent: #F19115;
  --font-size-primary: 1.25rem;
  --font-size-focus: 1.5rem;
  --margin-primary: 1rem;
}