.cta-button {
  box-shadow: var(--drop-shadow-accent);
  align-self: center;
  margin-top: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-accent);
  border-radius: 1em;
  font-size: 1em;
  font-weight: bold;
  color: var(--color-secondary);
}

.lesser-cta {
  background-color: var(--color-accent-variation);
  color: var(--color-primary);
}
