.search {
  padding: 1rem 1rem 2rem;
}

.search > div > input {
  padding: 0.5rem 4rem;
  border-radius: 1rem;
}

.search > div > button {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border: none;
}

input {
  padding: 0.5rem 1rem;
}
