.search > div > button {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border: none;
  font-size: 1.5em;
}

input,
select {
  padding: 0.5rem 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  max-width: fit-content;
}

textarea {
  padding: 4rem 0.5rem;
  border-radius: 0.5rem;
}

.contact,
.login,
.signup {
  padding: 1rem 4rem;
}

button {
  border: none;
}

.center {
  align-items: center;
}
