@media (min-width: 600px) {
  nav {
    display: flex;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    margin: 0;
  }

  nav li {
    margin: 0 1rem;
  }

  header label,
  .search-icon {
    display: none;
  }

  .hide-on-mobile {
    display: block;
  }
}
