.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.flex-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-tertiary);
  box-shadow: var(--drop-shadow-primary);
  border-radius: 1rem;
  padding: 2rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  padding: 1rem;
  gap: 1rem;
  max-width: 50rem;
}

.product {
  max-width: 20rem;
  flex: 1 1 50%;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.spaced {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}

.border {
  border-top: solid;
  padding: 1rem 0;
}
