.selling-points {
  justify-content: space-around;
  margin: 1rem 1rem 5rem;
  padding: 2rem;
  max-width: 50rem;
  min-height: 20rem;
}

.selling-points h1 {
  text-transform: uppercase;
  margin: 0;
}

.emphasis {
  color: var(--color-accent);
}

.selling-points p,
ul {
  margin: 0 0 1rem;
}

.selling-points li {
  margin: 1rem;
  font-size: 1.5em;
}
