/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@import url(./_header.css);
@import url(./_movie-slider.css);
@import url(./_selling-points.css);
@import url(./_buttons.css);
@import url(./_featured.css);
@import url(./_footer.css);

body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

h2 {
  display: flex;
  justify-content: center; 
}

@import url(./_media-queries.css);